<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    This website make it easier to find the people we haven't played so far (or check all results by a player).
    <br />
    Try '/yourName' i.ee '/Marian' or click <a href='/Marian'>/Marian</a>
    <br />
    Loading takes time (I am not caching, to serve always up to date results).
    <br />

    <iframe id="league" style="margin-top:20px" src='http://www.haxball.gr/league/view_embedded/126004' width='965' height='650'></iframe>
</body>
</html>