@using KMorcinek.ShowMyHaxballGames.ViewModels;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.List<LeagueViewModel>>

@{
    Layout = "layout.cshtml";
}

@section ScriptRegionTop{
    <title>Fifa 13 at Making Waves</title>

    <style>
        body {
            width: 965px;
            margin: 20px auto;
            text-align: center;
        }
    </style>
}

<h1>Fifa 13 at Making Waves</h1>

<table class="main">
    <thead>
        <tr>
            <th>Season</th>
            <th>Status</th>
            <th>My haxball</th>
            <th>Direct</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var league in @Model)
        {
            <tr>
                <td>1</td>
                <td>In progress</td>
                <td><a href='/@league.LeagueId'>@league.Title</a></td>
                <td><a href="http://www.haxball.gr/league/view/@league.LeagueId" target="_blank">Original league</a></td>
            </tr>
        }
    </tbody>
</table>