@using KMorcinek.ShowMyHaxballGames.ViewModels;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LeagueViewModel>

@{
    Layout = "layout.cshtml";
}

@section ScriptRegionTop{
    <title>Haxball - @Model.Title</title>

    <style>
        body {
            width: 965px;
            margin: 20px auto;
        }
    </style>
}

This website make it easier to find the people we haven't played so far (or check all results for a player).
<br />
<h2>Search by player:</h2>
<ul>
    @foreach (var playerName in @Model.Players)
    {
        <li><a href='/@Model.LeagueId/@playerName'>@playerName</a></li>
    }
</ul>

<iframe id="league" style="margin-top:20px" src='http://www.haxball.gr/league/view_embedded/@Model.LeagueId' width='965' height='650'></iframe>